<div class="comments-container">
  <h2>Комментарии</h2>
  <ul>
    <li *ngFor="let comment of comments">
      <strong>{{ comment?.userName}}</strong> ({{ comment?.email}}):
      <a *ngIf="comment.homePage" href="{{ comment.homePage }}" target="_blank">Перейти на домашнюю страницу</a>
    </li>
  </ul>

  <h3>Добавить новый комментарий</h3>
  <form (ngSubmit)="createComment()" #commentForm="ngForm">
    <label for="userName">Имя пользователя</label>
    <input type="text" id="userName" [(ngModel)]="newComment.userName" name="userName" required />

    <label for="email">Email</label>
    <input type="email" id="email" [(ngModel)]="newComment.email" name="email" required />

    <label for="homePage">Домашняя страница</label>
    <input type="url" id="homePage" [(ngModel)]="newComment.homePage" name="homePage" />

    <label for="text">Текст комментария</label>
    <textarea id="text" [(ngModel)]="newComment.text" name="text" required></textarea>

    <button type="submit" [disabled]="commentForm.invalid">Добавить комментарий</button>
  </form>

</div>
